body {
  font-family: "Raleway", sans-serif;
  color: black;
}

.weather-app-wrapper {
  margin: 30px auto;
  max-width: 600px;
}

.weather-app {
  border: 5px solid #1374e7;
  border-radius: 15px;
  padding: 20px;
}

h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

li:first-letter {
  text-transform: capitalize;
}

.big-pic {
  position: relative;
  top: -20px;
}

strong {
  font-size: 80px;
  margin-left: 20px;
}

.units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.weather-forecast {
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.6;
}

.small-pic {
  text-align: center;
}

.weather-forecast-temp {
  font-size: 13px;
}

.temp-min {
  opacity: 0.6;
}
